.about-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: #1DB954; /* Spotify green */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  a {
    color: #1DB954;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  