:root {
    --spotify-green: #1db954;
    --spotify-black: #191414;
    --spotify-header-black: #000000;
    --spotify-white: #ffffff;
    --spotify-dark-gray: #121212;
    --spotify-light-gray: #b3b3b3;
    --spotify-hover-gray: #282828;
    --spotify-font-primary: "Roboto", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-y: auto;
  }

  .artistbody {
    display: flex; /* Change to flex for alignment */
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /* Stack elements vertically */
  margin: 0;
  font-family: var(--spotify-font-primary);
  background-color: var(--spotify-header-black);
  color: var(--spotify-white);
  min-height: 100vh;
  overflow-y: auto; /* Enable scrolling */
  }

  .artistLoggingContainer {
    display: inline-block;
    place-items: center;
    background: var(--spotify-black);
    border-radius: 8px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
    margin-bottom: 100px;
  }

  .artistLoggingPageImage{
    margin-top: 50px;
    color: #1db954;
    text-align: center;
  }

  .artistTitle{
    text-align: center;
    font-size: 2em;
  }

  .artistInput {
    margin-top: 5px;
    margin-bottom: 20px;
    border: #615d5d solid;
    border-color: #615d5d;
    border-width: 0.5px;
    border-radius: 5px;
    width: 90%;
    background-color: #000000;
    color: aliceblue;
    font-size: 20px;
  }
  .artistInput:focus-within {
    border-color: #ffffff;
  }
  .loggingButton{
    width: 50%;
    background-color: var(--spotify-green);
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: var(--spotify-black);
    text-align: center;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .loggingButton :hover{
    background-color: #1db954 transparent 50%;
    padding: 20px;
  }
  .itemSet01{
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    width: 150%;
  }
  a{
    color: #ffffff;
  }
  a :hover{
    color: #b3b3b3;
  }

  .addImageArea{
  width: 150px; 
  height: 120px; 
  border: 3px solid #b3b3b3 ; 
  border-radius: 50%;
  display: block; 
  justify-content: center;
  place-items: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  cursor: "pointer",
  }
  .addImageArea :hover{
    color: #b3b3b3;
  }