
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:var(--spotify-header-black);  
  color: var (--spotify-white);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: var(--spotify-font-primary);
  
}

.header_logo img {
  height: 40px;
}


.header_home{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--spotify-hover-gray);
  border-radius: 50%;
  margin-left: 80px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.header_search {
  display: flex;
  align-items: center;
  background-color: var(--spotify-hover-gray);
  border-radius: 20px;
  padding: 10px 10px;
  flex: 1;
  max-width: 400px;
  margin: 0 20px;
  position: relative;
 
}

.search_icon {
  color: #b3b3b3;
  margin-right: 10px;
}

.search_input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: transparent;
  font-weight:500;
  color: var(--spotify-white);
  font-family: var(--spotify-font-primary);
}

.search_suggestions {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid var(--spotify-dark-gray);
}

.suggestion_item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color:  var(--spotify-dark-gray);
}

.suggestion_item:hover {
  background-color:  var(--spotify-hover-gray);
}

.suggestion_name {
  font-weight:700 ;
}

.suggestion_type {
  color: #a1a1a1;
  font-size: 12px;
}

.header_premium{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--spotify-white);
  border: none;
  color: var(--spotify-black);
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;

}

.header_profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile_icon {
  font-size: 30px;
  margin-right: 10px;
}

.home_icon {
  font-size: 30px;
  margin-right: 10px;
  color: var(--spotify-white);
}
.profile_name {
  font-size: 16px;
  font-weight: bold;
}
.header_profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile_icon_container {
  display: flex;
  align-items: center;
}

.profile_icon {
  font-size: 30px;
  color: var(--spotify-white);
}

.profile_name {
  font-size: 16px;
  font-weight: bold;
  color: var(--spotify-white);
}

.profile_menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--spotify-dark-gray);
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 200px;
  padding: 5px;
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: var(--spotify-white);
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu_item:hover {
  background-color: var(--spotify-hover-gray);
}

.menu_icon {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: var(--spotify-white);
 
}